body {
  background-color: hsl(0, 0%, 10%);
}


.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  color: white;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5 ease;
}

.Add-btn {
  background-color: hsl(125, 54%, 45%);
}

.Add-btn:hover {
  background-color: hsl(125, 54%, 55%);
}

.delete-btn {
  background-color: hsl(0, 100%, 45%);
}

.delete-btn:hover {
  background-color: hsl(0, 100%, 55%);
}

.move-btn {
  background-color: hsl(240, 100%, 55%);
}

.move-btn:hover {
  background-color: hsl(240, 100%, 65%);
}

input[type="text"] {
  font-size: 1.5rem;
  padding: 10px 20px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: gray;
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 90%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 80%, 0.75);
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-btn,
.move-btn {
  padding: 8px 12px;
  margin-left: 10px;
  font-size: 1.5rem;
}